body {
  font-family: 'Lato', sans-serif;
  color: #000000;
  width: 100%;
  margin: 0;
  background-image: url("../img/background-body.png");
  background-color: #fff; }

/* font-family: "LatoRegular"; */
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "LatoBold"; */
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.page-header__wrapper {
  width: 480px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 12px; }
  @media (min-width: 850px) {
    .page-header__wrapper {
      width: 850px; } }
  @media (min-width: 1280px) {
    .page-header__wrapper {
      width: 1280px; } }

.page-header__logo {
  padding-top: 20px; }

.page-header__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: -35px;
  height: 60px; }
  .page-header__info span, .page-header__info a {
    width: 200px;
    font-size: 13px;
    line-height: 25px;
    font-weight: 700; }

.page-header__adress {
  position: relative;
  padding-right: 30px; }

.page-header__adress::before {
  content: "";
  display: block;
  width: 16px;
  height: 19px;
  background-position: -261px -10px;
  background-image: url("../img/spritesheet.png");
  position: absolute;
  left: -30px;
  top: 15px; }

.page-header__phone {
  position: relative; }

.page-header__phone::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 7px;
  width: 15px;
  height: 15px;
  background-position: -680px -10px;
  background-image: url("../img/spritesheet.png"); }

.page-header__email {
  position: relative; }

.page-header__email::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 7px;
  background-image: url("../img/spritesheet.png");
  width: 14px;
  height: 11px;
  background-position: -193px -10px; }

.page-header__menu-close {
  position: absolute;
  top: 20px;
  right: 60px; }
  .page-header__menu-close a {
    position: relative;
    text-decoration: none;
    color: #1fc9be;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder; }
  .page-header__menu-close a::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: -45px;
    background-image: url("../img/spritesheet.png");
    width: 36px;
    height: 36px;
    background-position: -568px -10px; }

.page-header__menu-open {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 55px;
  right: 0px;
  display: none; }
  .page-header__menu-open li {
    background-color: #1fc9be;
    width: 170px;
    border-bottom: 1px solid #ffffff;
    padding: 5px;
    text-align: center; }
  .page-header__menu-open a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px; }

@media (min-width: 850px) {
  .page-header__wrapper {
    display: flex; }
  .page-header__logo {
    margin-left: 40px; }
  .page-header__info {
    margin: 0;
    margin-top: 25px;
    margin-left: 70px;
    height: 50px; }
    .page-header__info span, .page-header__info a {
      width: 200px;
      font-size: 13px;
      line-height: 25px;
      font-weight: 700;
      margin-right: 100px; }
  .page-header__adress::before {
    width: 23px;
    height: 28px;
    background-position: -297px -10px;
    left: -30px;
    top: 13px; } }

.med-sport-service__wrapper {
  width: 480px;
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url("../img/man-mob.jpg");
  min-height: 280px;
  position: relative; }
  @media (min-width: 850px) {
    .med-sport-service__wrapper {
      width: 850px; } }
  @media (min-width: 1280px) {
    .med-sport-service__wrapper {
      width: 1280px; } }

.med-sport-service__text {
  width: 310px;
  position: absolute;
  right: 20px; }
  .med-sport-service__text h1 {
    font-size: 18px;
    color: #1fc9be;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 70px;
    position: relative; }
  .med-sport-service__text h1::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-position: -375px -10px;
    background-image: url("../img/spritesheet.png");
    position: absolute;
    top: -45px;
    right: 135px; }
  .med-sport-service__text p {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px; }
  .med-sport-service__text a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #1fc9be;
    border-radius: 50px;
    padding: 10px;
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto; }

@media (min-width: 850px) {
  .med-sport-service__wrapper {
    background-image: url("../img/man-tablet.jpg"); }
  .med-sport-service__text {
    right: 30px;
    top: 20px;
    width: 450px; }
    .med-sport-service__text h1 {
      font-size: 20px; }
    .med-sport-service__text h1::before {
      width: 41px;
      height: 41px;
      background-position: -507px -10px;
      top: -60px;
      right: 210px; }
    .med-sport-service__text p {
      margin-bottom: 15px;
      font-size: 14px; }
    .med-sport-service__text a {
      width: 180px; } }

@media (min-width: 1280px) {
  .med-sport-service__wrapper {
    background-image: url("../img/man-desktop.jpg");
    height: 520px; }
  .med-sport-service__text {
    right: 40px;
    top: 125px;
    width: 490px; }
    .med-sport-service__text h1 {
      font-size: 28px; }
    .med-sport-service__text h1::before {
      width: 58px;
      height: 58px;
      background-position: -429px -10px;
      top: -95px;
      right: 230px; }
    .med-sport-service__text p {
      margin-top: 30px;
      margin-bottom: 40px;
      font-size: 16px; }
    .med-sport-service__text a {
      width: 180px; } }

.med-sport-info__wrapper {
  width: 480px;
  margin: 0 auto; }
  @media (min-width: 850px) {
    .med-sport-info__wrapper {
      width: 850px; } }
  @media (min-width: 1280px) {
    .med-sport-info__wrapper {
      width: 1280px; } }

.med-sport-info__about {
  padding-bottom: 30px; }
  .med-sport-info__about p {
    font-size: 13px;
    line-height: 16px;
    margin: 35px 15px 0 20px;
    border-left: 3px solid #1fc9be;
    padding-left: 20px; }
    .med-sport-info__about p span {
      font-weight: bold; }

.med-sport-info__about-problems {
  background-image: url("../img/pils-mob.jpg");
  padding-top: 35px;
  padding-bottom: 30px; }
  .med-sport-info__about-problems p {
    font-size: 13px;
    line-height: 16px;
    margin: 0 15px 30px 40px;
    width: 350px; }
  .med-sport-info__about-problems p:last-child {
    margin-bottom: 0; }

.med-sport-info__main-problems {
  padding-top: 35px;
  padding-bottom: 30px; }
  .med-sport-info__main-problems ul {
    margin: 0;
    padding: 0;
    margin-left: 80px; }
  .med-sport-info__main-problems li {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 15px;
    list-style: none;
    font-size: 13px;
    line-height: 16px;
    position: relative; }
  .med-sport-info__main-problems li:nth-child(1)::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-position: -10px -10px;
    background-image: url("../img/spritesheet.png");
    position: absolute;
    left: -60px; }
  .med-sport-info__main-problems li:nth-child(2)::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-position: -71px -10px;
    background-image: url("../img/spritesheet.png");
    position: absolute;
    left: -60px; }
  .med-sport-info__main-problems li:nth-child(3)::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-position: -132px -10px;
    background-image: url("../img/spritesheet.png");
    position: absolute;
    left: -60px; }

.med-sport-info__real-case {
  background-image: url("../img/sport-doc-mob.jpg");
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative; }
  .med-sport-info__real-case::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 275px;
    background-color: #1fc9be;
    left: 30px; }
  .med-sport-info__real-case p {
    font-size: 13px;
    line-height: 16px;
    margin: 0 15px 20px 40px;
    width: 415px;
    font-weight: bold; }
  .med-sport-info__real-case p:last-child {
    margin-bottom: 0; }

.med-sport-info__case-conclusion {
  padding-top: 30px;
  padding-bottom: 30px; }
  .med-sport-info__case-conclusion p {
    font-size: 13px;
    line-height: 16px;
    margin: 0 15px 0 15px;
    padding-left: 25px;
    width: 415px;
    font-weight: bold;
    border-left: 3px solid #1fc9be; }

@media (min-width: 850px) {
  .med-sport-info__about p {
    font-size: 14px;
    margin: 50px 15px 25px 65px; }
  .med-sport-info__about-problems {
    background-image: url("../img/pils-tablet.jpg"); }
    .med-sport-info__about-problems p {
      font-size: 14px;
      width: 520px;
      margin-left: 90px; }
  .med-sport-info__main-problems {
    padding-top: 45px;
    padding-bottom: 20px; }
    .med-sport-info__main-problems ul {
      margin-left: 135px; }
    .med-sport-info__main-problems li {
      margin-right: 60px;
      margin-bottom: 30px;
      font-size: 14px; }
    .med-sport-info__main-problems li::before {
      top: 50%;
      left: -80px;
      transform: translateY(-50%); }
  .med-sport-info__real-case {
    background-image: url("../img/sport-doc-tablet.jpg");
    padding-top: 45px;
    padding-bottom: 20px; }
    .med-sport-info__real-case::before {
      height: 220px;
      left: 115px; }
    .med-sport-info__real-case p {
      margin: 0 auto;
      width: 560px;
      font-size: 14px;
      margin-bottom: 30px; }
  .med-sport-info__case-conclusion {
    padding-top: 35px; }
    .med-sport-info__case-conclusion p {
      width: 660px;
      font-size: 14px;
      margin: 0 15px 0 65px;
      padding-left: 20px; } }

@media (min-width: 1280px) {
  .med-sport-info__about p {
    font-size: 15px;
    margin: 50px 55px 25px 75px; }
  .med-sport-info__about-problems {
    background-image: url("../img/pils-desktop.jpg");
    padding-bottom: 60px; }
    .med-sport-info__about-problems p {
      font-size: 15px;
      margin-left: 95px; }
  .med-sport-info__main-problems {
    padding-bottom: 20px; }
    .med-sport-info__main-problems ul {
      margin-left: 165px; }
    .med-sport-info__main-problems li {
      margin-right: 150px;
      margin-bottom: 30px;
      font-size: 15px;
      line-height: 20px; }
    .med-sport-info__main-problems li::before {
      top: 50%;
      left: -80px;
      transform: translateY(-50%); }
  .med-sport-info__real-case {
    background-image: url("../img/sport-doc-tablet.jpg");
    padding-bottom: 30px; }
    .med-sport-info__real-case::before {
      left: 325px; }
    .med-sport-info__real-case p {
      font-size: 15px; }
  .med-sport-info__case-conclusion {
    padding-top: 45px; }
    .med-sport-info__case-conclusion p {
      width: auto;
      font-size: 15px;
      margin: 0 80px 20px 65px;
      padding-left: 20px; } }

.med-sport-consultation__wrapper {
  width: 480px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding-bottom: 10px; }
  @media (min-width: 850px) {
    .med-sport-consultation__wrapper {
      width: 850px; } }
  @media (min-width: 1280px) {
    .med-sport-consultation__wrapper {
      width: 1280px; } }
  .med-sport-consultation__wrapper p {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 50px 15px 0;
    font-weight: bold;
    margin-bottom: 30px; }

.med-sport-consultation__service {
  background-color: #fff;
  width: 345px;
  height: 246px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  position: relative;
  background-position: center;
  background-image: url("../img/bodybuilding-mob.png");
  margin-bottom: 30px; }
  .med-sport-consultation__service:nth-child(2) {
    background-image: url("../img/bodybuilding-mob2.png"); }
  .med-sport-consultation__service:nth-child(3) {
    background-image: url("../img/bodybuilding-mob3.png");
    padding-bottom: 57px;
    padding-right: 10px; }
    .med-sport-consultation__service:nth-child(3)::before {
      position: absolute;
      left: 10px;
      top: 10px;
      content: "";
      display: block;
      width: 319px;
      height: 220px;
      border: 3px solid #1fc9be; }
    .med-sport-consultation__service:nth-child(3) h2 {
      width: 230px; }
  .med-sport-consultation__service:nth-child(4) {
    background-image: url("../img/bodybuilding-mob3.png");
    padding-bottom: 60px; }
    .med-sport-consultation__service:nth-child(4)::before {
      position: absolute;
      left: 10px;
      top: 10px;
      content: "";
      display: block;
      width: 319px;
      height: 220px;
      border: 3px solid #1fc9be; }
    .med-sport-consultation__service:nth-child(4) h2 {
      width: 250px; }
    .med-sport-consultation__service:nth-child(4) li {
      padding-right: 20px; }
  .med-sport-consultation__service::before {
    position: absolute;
    left: 10px;
    top: 10px;
    content: "";
    display: block;
    width: 319px;
    height: 220px;
    border: 3px solid #1fc9be; }
  .med-sport-consultation__service h2 {
    font-size: 15px;
    width: 100px;
    color: #1fc9be;
    margin: 0; }
  .med-sport-consultation__service ul {
    margin: 0;
    padding: 0; }
  .med-sport-consultation__service li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px; }
  .med-sport-consultation__service p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline; }
  .med-sport-consultation__service > span {
    display: block;
    color: #1fc9be;
    font-size: 15px; }
    .med-sport-consultation__service > span > span {
      font-size: 20px; }

@media (min-width: 850px) {
  .med-sport-consultation__wrapper > p {
    padding-left: 90px;
    padding-right: 100px;
    font-size: 15px; }
  .med-sport-consultation__service-items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px; }
  .med-sport-consultation__service h2 {
    font-size: 15px; }
  .med-sport-consultation__service p {
    font-size: 14px; }
  .med-sport-consultation__service li {
    font-size: 15px; }
  .med-sport-consultation__service span {
    font-size: 15px; } }

@media (min-width: 1280px) {
  .med-sport-consultation__wrapper {
    padding-bottom: 30px; }
    .med-sport-consultation__wrapper > p {
      width: 700px;
      font-weight: normal; }
      .med-sport-consultation__wrapper > p span {
        font-weight: bold; }
  .med-sport-consultation__service {
    width: 345px;
    background-image: url("../img/bodybuilding-desktop.png"); }
    .med-sport-consultation__service:nth-child(2) {
      background-image: url("../img/bodybuilding-desktop2.png"); }
    .med-sport-consultation__service:nth-child(3) {
      background-image: url("../img/bodybuilding-desktop3.png"); } }

.med-sport-doctors__wrapper {
  width: 480px;
  margin: 0 auto; }
  @media (min-width: 850px) {
    .med-sport-doctors__wrapper {
      width: 850px; } }
  @media (min-width: 1280px) {
    .med-sport-doctors__wrapper {
      width: 1280px; } }
  .med-sport-doctors__wrapper h2 {
    font-size: 20px; }
  .med-sport-doctors__wrapper p {
    font-size: 13px;
    line-height: 16px;
    border-left: 3px solid #1fc9be;
    margin: 20px 20px 20px 15px;
    padding-left: 25px; }

@media (min-width: 850px) {
  .med-sport-doctors__wrapper p {
    font-size: 14px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px; } }

@media (min-width: 1280px) {
  .med-sport-doctors__wrapper p {
    font-size: 15px;
    margin-left: 70px;
    margin-right: 260px;
    margin-top: 50px; } }

.comment__wrapper {
  width: 480px;
  margin: 0 auto; }
  @media (min-width: 850px) {
    .comment__wrapper {
      width: 850px; } }
  @media (min-width: 1280px) {
    .comment__wrapper {
      width: 1280px; } }
  .comment__wrapper h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 30px; }
  .comment__wrapper input,
  .comment__wrapper textarea {
    border: 2px solid #1fc9be;
    margin-top: 20px;
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    box-sizing: border-box;
    color: black;
    outline: none; }
    .comment__wrapper input ::-webkit-input-placeholder,
    .comment__wrapper textarea ::-webkit-input-placeholder {
      font-size: 14px;
      color: black; }
    .comment__wrapper input ::-moz-placeholder,
    .comment__wrapper textarea ::-moz-placeholder {
      font-size: 14px;
      color: black; }
    .comment__wrapper input :-moz-placeholder,
    .comment__wrapper textarea :-moz-placeholder {
      font-size: 14px;
      color: black; }
    .comment__wrapper input :-ms-input-placeholder,
    .comment__wrapper textarea :-ms-input-placeholder {
      font-size: 14px;
      color: black; }
  .comment__wrapper button {
    width: auto;
    margin: 15px auto 30px;
    display: block;
    border: 0px solid #1fc9be;
    border-radius: 50px;
    background-color: #1fc9be;
    padding: 10px 30px;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer; }

@media (min-width: 850px) {
  .comment__wrapper {
    padding-bottom: 20px; }
    .comment__wrapper h2 {
      margin-top: 45px;
      margin-left: 150px; }
    .comment__wrapper form {
      margin-left: 150px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 590px; }
    .comment__wrapper input {
      width: 262px;
      margin: 0; }
      .comment__wrapper input:first-child {
        margin-right: 35px; }
    .comment__wrapper textarea {
      width: 560px;
      height: 155px;
      margin-left: 0; }
    .comment__wrapper button {
      margin-right: 25px;
      margin-left: auto;
      margin-top: 30px;
      padding: 20px 70px; } }

@media (min-width: 1280px) {
  .comment__wrapper h2 {
    margin-left: 365px; }
  .comment__wrapper form {
    margin-left: 365px; } }

.page-footer__wrapper {
  width: 480px;
  margin: 0 auto; }
  @media (min-width: 850px) {
    .page-footer__wrapper {
      width: 850px; } }
  @media (min-width: 1280px) {
    .page-footer__wrapper {
      width: 1280px; } }

.page-footer__inner {
  background-color: #1fc9be;
  background-image: url("../img/doc-mob.jpg");
  height: 400px; }
  .page-footer__inner h2,
  .page-footer__inner li {
    color: #ffffff;
    text-transform: uppercase; }
  .page-footer__inner h2 {
    font-size: 20px;
    padding-top: 25px;
    margin-left: 45px; }
  .page-footer__inner li {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0; }
  .page-footer__inner ul {
    margin: 0;
    padding: 0; }

.page-footer__pains-lists {
  display: flex;
  justify-content: space-between;
  margin-left: 45px;
  margin-right: 15px;
  margin-bottom: 15px; }

.page-footer__info {
  color: #ffffff;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 30px; }
  .page-footer__info a,
  .page-footer__info span {
    padding-bottom: 10px;
    position: relative;
    width: 270px; }
  .page-footer__info span:last-child {
    padding-bottom: 0;
    width: auto; }

.page-footer__about {
  margin-left: 45px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold; }

.page-footer__adress::before {
  content: "";
  display: block;
  width: 15px;
  height: 17px;
  background-position: -340px -10px;
  background-image: url("../img/spritesheet.png");
  position: absolute;
  left: -30px;
  top: 13px; }

.page-footer__phone::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 4px;
  width: 15px;
  height: 15px;
  background-position: -715px -10px;
  background-image: url("../img/spritesheet.png"); }

.page-footer__email::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 5px;
  background-image: url("../img/spritesheet.png");
  width: 14px;
  height: 11px;
  background-position: -227px -10px; }

@media (min-width: 850px) {
  .page-footer__inner {
    background-image: url("../img/doc-tablet.jpg");
    height: 245px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; }
    .page-footer__inner h2 {
      padding-top: 10px;
      margin-left: -130px; }
  .page-footer__pains-lists {
    margin: 0;
    padding: 0;
    margin-left: -150px; }
    .page-footer__pains-lists ul:first-child {
      margin-right: 20px; }
    .page-footer__pains-lists li {
      line-height: 16px; }
  .page-footer__info {
    margin: 0;
    margin-left: 60px;
    margin-top: 45px; }
    .page-footer__info a,
    .page-footer__info span,
    .page-footer__info span:last-child {
      width: 260px; }
  .page-footer__about {
    margin-left: 230px; } }

@media (min-width: 1280px) {
  .page-footer__inner {
    background-image: url("../img/doc-tablet.jpg");
    height: 245px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; }
    .page-footer__inner h2 {
      padding-top: 10px;
      margin-left: -130px; }
  .page-footer__pains-lists {
    margin: 0;
    padding: 0;
    margin-left: -130px; }
    .page-footer__pains-lists li {
      line-height: 16px; }
  .page-footer__info {
    margin-left: -100px; }
    .page-footer__info a,
    .page-footer__info span {
      font-size: 16px;
      margin-bottom: 10px; }
    .page-footer__info span:last-child {
      width: auto; }
  .page-footer__about {
    margin-left: 440px; } }
