.page-header__wrapper {
  @include container;
  position: relative;
  padding-bottom: 12px;
}
.page-header__logo {
  padding-top: 20px;
}
.page-header__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: -35px;
  height: 60px;
    span, a {
      width: 200px;
      font-size: 13px;
      line-height: 25px;
      font-weight:  700;
    }
}
.page-header__adress {
  position: relative;
  padding-right: 30px;
}
.page-header__adress::before {
  content: "";
  display: block;
  width: 16px;
  height: 19px;
  background-position: -261px -10px;
  background-image: url("../img/spritesheet.png");
  position: absolute;
  left: -30px;
  top: 15px;
}
.page-header__phone {
  position: relative;
}
.page-header__phone::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 7px;
  width: 15px;
  height: 15px;
  background-position: -680px -10px;
  background-image: url("../img/spritesheet.png");
}
.page-header__email {
  position: relative;
}
.page-header__email::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 7px;
  background-image: url("../img/spritesheet.png");
  width: 14px;
  height: 11px;
  background-position: -193px -10px;
}

.page-header__menu-close {
  position: absolute;
  top: 20px;
  right: 60px;
    a {
      position: relative;
      text-decoration: none;
      color: $green;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bolder;
    }
    a::after {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      right: -45px;
      background-image: url("../img/spritesheet.png");
      width: 36px;
      height: 36px;
      background-position: -568px -10px;
    }
}
.page-header__menu-open {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 55px;
  right: 0px;
  display: none;
  z-index: 10;
    li {
      background-color: $green;
      width: 170px;
      border-bottom: 1px solid $white;
      padding: 5px;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      font-size: 11px;
    }
    li:hover {
      background-color: #15beb3;
    }
}
.page-header__menu-open-show {
  display: block;
}
.page-header__tablet-menu {
  display: none;
}
.page-header__desktop-menu {
  display: none;
}
@media #{$tablet-widths} {
  .page-header__wrapper {
    display: flex;
    padding-bottom: 0;
  }
  .page-header__logo {
    margin-left: 40px;
  }
  .page-header__info {
    margin: 0;
    margin-top: 25px;
    margin-left: 70px;
    height: 50px;

    span, a {
      width: 200px;
      font-size: 13px;
      line-height: 25px;
      font-weight:  700;
      margin-right: 100px;
    }
  }
  .page-header__adress {
  }
  .page-header__adress::before {
    width: 23px;
    height: 28px;
    background-position: -297px -10px;
    left: -30px;
    top: 13px;
  }
  .page-header__menu {
    display: none;
  }
  .page-header__desktop-menu {
    display: none;
  }
  .page-header__tablet-menu {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 90px;
    margin-left: -585px;
    width: 100%;
    background-color: $green;
      li {
        list-style: none;
        padding: 13px 12px;
      }
      li:hover {
        background-color: #15beb3;
      }
      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 11px;
      }
  }
  .page-header__tablet-menu-close {
    a {
      position: absolute;
      top: 18px;
      right: 55px;
    }
    a::after {
      content: "";
      display: block;
      position: absolute;
      top: -12px;
      right: -45px;
      background-image: url("../img/spritesheet.png");
      width: 36px;
      height: 36px;
      background-position: -624px -10px;
    }
  }
  .page-header__tablet-menu-main {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .page-header__tablet-menu-open {
    position: absolute;
    z-index: 10;
    top: 55px;
    right: 0px;
    display: block;
    background-color: $green;
    padding: 0;
    margin: 0;
    display: none;
      li {
        padding: 0;
        margin: 0;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 40px;
        margin-bottom: 5px;
      }
  }
  .page-header__tablet-menu-open-show {
    display: block;
  }
}
@media #{$desktop-widths} {
  .page-header__tablet-menu {
    display: none;
  }
  .page-header__desktop-menu {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 90px;
    margin-left: -585px;
    width: 100%;
    background-color: $green;

    li {
      list-style: none;
      padding: 13px 12px;
    }
    li:hover {
      background-color: #15beb3;
    }
    a {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 11px;
      padding-bottom: 3px;
        &.active {
          border-bottom: 2px solid $white;
        }
    }
  }
}
